{% from "_form_helpers.html" import form_label, field_errors %}

{% extends "layout.html" %}

{% block content %}

<form action="{{ url_for('new_paste') }}" method="post">
  {{ field_errors(form.content) }}

  {{ form.content(id = "paste_content") }}

  <div class="right">
    <p>
      <span class="group">
        {{ form_label(form.highlight) }}
        {{ form.highlight | safe }}
      </span>

      <span class="group">
        {{ form_label(form.convert_tabs) }}
        {{ form.convert_tabs | safe }}
      </span>
    </p>

    <p>
      {{ form.filename(placeholder = "Optional filename ...") | safe }}
      <button class="button-main" id="submit" type="submit">Paste It</button>
    </p>
  </div>

</form>
{% endblock %}
